<div class="footer">
  <div class="footer-container">
    <img src="/assets/footer.png" alt="" class="footer-logo" />
    <ul class="footer-links">
      <li class="footer-link">
        <a href="https://halogen-group.com/" target="_blank">Halogen</a>
      </li>
      <li class="footer-link">
        <a href="https://halogen-group.com/terms-of-use" target="_blank"
          >Terms and Conditions</a
        >
      </li>
      <li class="footer-link">
        <a href="https://halogen-group.com/privacy-policy" target="_blank"
          >Privacy Policy</a
        >
      </li>
      <li class="footer-link">
        <a href="https://halogen-group.com/why-choose-us" target="_blank"
          >FAQ</a
        >
      </li>
    </ul>
  </div>
</div>
