<div class="privacy-policy">
  <div class="privacy-top">
    <div class="topContainer">
      <div class="privacy-topLeft">
        <h2>Halogen Group Privacy Statement</h2>
        <p>Last Updated: Feb 2023</p>
      </div>
      <div class="privacy-topRight">
        <!-- <p><mat-icon>expand_more</mat-icon> Expand all</p>
        <p (click)="print()"><mat-icon>print</mat-icon>Print</p> -->
      </div>
    </div>
  </div>
  <div class="privacy-main">
    <div class="privacy-headers">
      <div class="privacy-contents">
        <div class="contentLeft">
          <p class="policyHeading" (click)="scrollToTop(introduction)">
            Introduction
          </p>
          <p class="policyHeading" (click)="scrollToTop(collection)">
            Collection of Information
          </p>
          <p class="policyHeading" (click)="scrollToTop(use)">
            Use of Personal Data
          </p>
          <p class="policyHeading" (click)="scrollToTop(disclosure)">
            Disclosure of Information
          </p>
          <p class="policyHeading" (click)="scrollToTop(security)">Security</p>
          <p class="policyHeading" (click)="scrollToTop(howlong)">
            How Long we Keep your Personal Data
          </p>
          <p class="policyHeading" (click)="scrollToTop(wherewe)">
            Where we Store your Personal Data
          </p>
          <p class="policyHeading" (click)="scrollToTop(yourrights)">
            Your Rights as a Data Subject
          </p>
          <p class="policyHeading" (click)="scrollToTop(breach)">
            BREACH/ PRIVACY VIOLATION
          </p>
          <p class="policyHeading" (click)="scrollToTop(questions)">
            QUESTIONS OR CONCERNS
          </p>
        </div>
        <div class="contentRight">
          <div class="policyDescription" #introduction id="introduction">
            <h4 class="policyMainHeader">Introduction</h4>
            <hr />
            <div class="policyDescriptionText">
              <p>Hi!</p>
              <p>
                Halogen Group has created this Privacy Policy to explain how
                Halogen Group will collect, use, disclose and protect your
                Personal Data, including any other information.
              </p>
              <p>
                You accept this Privacy Policy and hereby give Halogen Group
                consent to save, process and use your Personal Data to the
                extent as allowed by law when you provide us with details of
                your Personal Data or by clicking on the “accept” button.
              </p>
              <p>
                We may change this Privacy Policy from time to time. If we make
                changes, we will notify you by revising the date at the top of
                this policy, and in some cases, we may provide you with
                additional notice (such as by adding a statement to the
                homepages of our website or by sending you an email
                notification)
              </p>
              <p>
                We encourage you to review the Privacy Policy whenever you
                interact with us to stay informed about our information
                practices and the ways you can help protect your privacy.
              </p>
            </div>
          </div>
          <div class="policyDescription" #collection id="collection">
            <h4 class="policyMainHeader">Collection of Information</h4>
            <hr />
            <div class="policyDescriptionText">
              <p>
                We may collect and process the following information about you:
              </p>
              <ul class="policyLists">
                <li>
                  <p>
                    Information that you provide to us, for example when you
                    fill out a contact or web form, or if you register to
                    receive alerts or updates.
                  </p>
                </li>
                <li>
                  <p>
                    When you provide your Personal Data while signing up for a
                    service or purchasing a product.
                  </p>
                </li>
                <li>
                  <p>
                    Personal Data that we obtain & learn, such as information
                    about the browser or device you use to access this site, how
                    you use this site and the pages you visit, traffic and
                    location data
                  </p>
                </li>
                <li>
                  <p>
                    When you contact our customer support whether by phone,
                    email, or chat
                  </p>
                </li>
                <li>
                  <p>
                    We may also ask you for information if you experience
                    problems when using this site.
                  </p>
                </li>
                <li>
                  <p>
                    We may also ask you to complete surveys for research
                    purposes, although you don’t have to respond to these
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="policyDescription" #use id="use">
            <h4 class="policyMainHeader">Use of Personal Data</h4>
            <hr />
            <div class="policyDescriptionText">
              <p>
                We may use your Personal Data, including non-public Personal
                Data as follows:
              </p>
              <ul class="policyLists">
                <li>
                  <p>Provide, maintain, and improve our services.</p>
                </li>
                <li>
                  <p>
                    Provide and deliver the products and services you request,
                    process transactions and send you related information,
                    including confirmations.
                  </p>
                </li>
                <li>
                  <p>Verify your identity and prevent fraud.</p>
                </li>
                <li>
                  <p>
                    Send you technical notices, updates, security alerts and
                    support and administrative messages.
                  </p>
                </li>
                <li>
                  <p>
                    Respond to your comments, questions and requests and provide
                    customer service.
                  </p>
                </li>
                <li>
                  <p>
                    Communicate with you about products, services, offers,
                    promotions, rewards, and events offered by Halogen Group and
                    others and provide news and information we think will be of
                    interest to you.
                  </p>
                </li>
                <li>
                  <p>
                    Monitor and analyse trends, usage and activities in
                    connection with our services.
                  </p>
                </li>
                <li>
                  <p>
                    Personalize and improve the services and provide
                    advertisements, content or features that match user profiles
                    or interests.
                  </p>
                </li>
                <li>
                  <p>
                    Process and deliver contest or promotion entries and
                    rewards.
                  </p>
                </li>
                <li>
                  <p>
                    Link or combine with information we get from others to help
                    understand your needs and provide you with better service.
                  </p>
                </li>
                <li>
                  <p>
                    Carry out any other purpose for which the Personal Data was
                    collected.
                  </p>
                </li>
                <p>
                  Halogen Group is based in Nigeria and the information we
                  collect is governed by the Nigeria Data Protection Regulation
                  (NDPR). By accessing or using the Services or otherwise
                  providing information to us, you consent to the processing and
                  transfer of information in and to Nigeria and other countries
                </p>
              </ul>
            </div>
          </div>
          <div class="policyDescription" #disclosure id="disclosure">
            <h4 class="policyMainHeader">Disclosure of Information</h4>
            <hr />
            <div class="policyDescriptionText">
              <p>
                Halogen Group only discloses Personal Data with other companies
                or individuals in the following limited circumstances:
              </p>
              <ul class="policyLists">
                <li>
                  <p>
                    We may provide such Personal Data to affiliated companies or
                    other trusted businesses or persons for the purpose of
                    processing Personal Data on our behalf. We require that
                    these parties agree to process such Personal Data based on
                    our instructions and in compliance with the Nigeria Data
                    Protection Regulation (NDPR) and any other appropriate
                    confidentiality and security measures. When they no longer
                    need your Personal Data to fulfil this service, they will
                    dispose of the details in line with the NDPR.
                  </p>
                </li>
                <li>
                  <p>
                    With other non-affiliated companies for our everyday
                    business purposes, such as to process transactions, maintain
                    accounts, respond to court orders and legal investigations.
                  </p>
                </li>
                <li>
                  <p>
                    In response to a request for Personal Data, if we are
                    required by, or we believe disclosure is in accordance with,
                    any applicable law, regulation or legal process.
                  </p>
                </li>
                <li>
                  <p>
                    With relevant law enforcement officials or other third
                    parties, such as investigators or auditors, if we believe it
                    is appropriate.
                  </p>
                </li>
                <li>
                  <p>
                    In connection with, or during negotiations of, any merger,
                    sale of Halogen Group’s assets, financing or acquisition of
                    all or a portion of our business to another company; and
                  </p>
                </li>
                <li>
                  <p>
                    With your consent or at your direction, including if we
                    notify you that the Personal Data you provide will be shared
                    in a particular manner and you provide such Personal Data.
                  </p>
                </li>
                <li>
                  <p>
                    We may also share aggregated or de-identified or anonymized
                    Information, which cannot reasonably be used to identify
                    you.
                  </p>
                </li>
                <p>
                  When Halogen Group does not have a lawful basis for disclosure
                  of your Personal Data, Halogen Group will obtain consent from
                  you before sharing your Personal Data with third parties.
                  Where Halogen Group needs to transfer your Personal Data to
                  another country, such country must have an adequate data
                  protection law. We will seek your consent where we need to
                  send your Personal Data to a country without an adequate data
                  protection law.
                </p>
              </ul>
            </div>
          </div>
          <div class="policyDescription" #security id="security">
            <h4 class="policyMainHeader">Security</h4>
            <hr />
            <div class="policyDescriptionText">
              <p>
                Halogen Group takes reasonable measures to help protect all
                Personal Data about you from loss, theft, misuse and
                unauthorized access, disclosure, alteration and destruction.
                Additionally, Halogen Group implements policies designed to
                protect the confidentiality and security of your Personal Data,
                including a Data Protection Policy. We have also taken measures
                to comply with provision of security facilities for the
                protection of your Personal Data through the set-up of
                firewalls, limited access to specified authorized individuals,
                encryption and continuous capacity building for relevant
                personnel.
              </p>
            </div>
          </div>
          <div class="policyDescription" #howlong id="howlong">
            <h4 class="policyMainHeader">
              How Long we Keep your Personal Data
            </h4>
            <hr />
            <div class="policyDescriptionText">
              <p>
                We will hold your Personal Data on Halogen Group’s systems for
                as long as it is necessary to fulfil the purpose for which it
                was collected or to comply with legal, regulatory or internal
                policy requirements.
              </p>
            </div>
          </div>
          <div class="policyDescription" #wherewe id="wherewe">
            <h4 class="policyMainHeader">Where we Store your Personal Data</h4>
            <hr />
            <div class="policyDescriptionText">
              <p>
                The Personal Data Halogen Group collects from you may be
                transferred to and stored at a destination outside Nigeria. By
                submitting your Personal Data, you agree to this transfer,
                storing or processing. We will take all steps reasonably
                necessary to ensure that your Personal Data is treated securely
                with an appropriate level of protection and that the transfer is
                lawful.
              </p>
            </div>
          </div>

          <div class="policyDescription" #yourrights id="yourrights">
            <h4 class="policyMainHeader">Your Rights as a Data Subject</h4>
            <hr />
            <div class="policyDescriptionText">
              <p>
                The law gives you certain rights in respect to your Personal
                Data Halogen Group holds about you. Below is a highlight of some
                of those rights. At any point while we are in possession of or
                processing your Personal Data, you, the Data Subject has the
                following rights:
              </p>
              <ul class="policyLists">
                <li>
                  <p>
                    <span class="listRights">RIGHT OF ACCESS</span> - You have
                    the right to request a copy of the information that we hold
                    about you. We will respond to your access request within
                    one-month of receiving your request. We will copy the
                    appropriate regulatory authority in all such communications.
                    Your Personal Data shall be provided to you in a structured,
                    commonly used and machine-readable format.
                  </p>
                </li>
                <li>
                  <p>
                    <span class="listRights">RIGHT TO RECTIFY</span> - You have
                    the right to correct the Personal Data we hold about you
                    that is inaccurate.
                  </p>
                </li>
                <li>
                  <p>
                    <span class="listRights">RIGHT TO BE FORGOTTEN </span> - In
                    certain circumstances you may ask for the data we hold about
                    you to be erased from our record.
                  </p>
                </li>
                <li>
                  <p>
                    <span class="listRights"
                      >RIGHT TO RESTRICT PROCESSING
                    </span>
                    - Where certain conditions apply, you have a right to
                    restrict processing of your Personal Data.
                  </p>
                </li>
                <li>
                  <p>
                    <span class="listRights">RIGHT TO PORTABILITY </span> - You
                    have the right to have your Personal Data transferred to
                    another organization.
                  </p>
                </li>
                <li>
                  <p>
                    <span class="listRights">LODGE COMPLAINT </span> - You have
                    a right to lodge a complaint about the handling of your
                    Personal Data with the National Information Technology
                    Development Agency (NITDA) at
                    <a href="mailto:info@nitda.gov.ng">info@nitda.gov.ng</a>
                  </p>
                </li>
                <li>
                  <p>
                    <span class="listRights">RIGHT TO OBJECT </span> - You have
                    the right to object to the Processing of Personal Data.
                  </p>
                </li>

                <p>
                  NITDA’s website
                  <a href="http://https://nitda.gov.ng/"
                    >(https://nitda.gov.ng/)</a
                  >
                  has a wealth of useful information in respect of your rights
                  over your Personal Data. If you wish to exercise your rights,
                  you may contact our Data Protection Officer at
                  <a href="mailto:compliance@halogen-group.com"
                    >compliance@halogen-group.com</a
                  >
                  or you may write to us at Halogen Group, 19B Mobolaji Bank
                  Anthony Way, Ikeja, Lagos
                </p>
              </ul>
            </div>
          </div>
          <div class="policyDescription" #breach id="breach">
            <h4 class="policyMainHeader">BREACH/ PRIVACY VIOLATION</h4>
            <hr />
            <div class="policyDescriptionText">
              <p>
                In the event of a breach of security leading to the accidental
                or unlawful destruction, loss, alteration, unauthorized
                disclosure of, or access to Personal Data, Halogen Group shall
                within 72 (Seventy-Two) hours of having knowledge of such breach
                report the details of the breach to NITDA.
              </p>
            </div>
          </div>
          <div class="policyDescription" #questions id="questions">
            <h4 class="policyMainHeader">QUESTIONS OR CONCERNS</h4>
            <hr />
            <div class="policyDescriptionText">
              <p>
                If you have any questions or concerns about this Privacy Policy
                or would like to contact us for any reason, you can contact us
                at
                <a href="mailto:compliance@halogen-group.com"
                  >compliance@halogen-group.com</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
