<div class="home">
  <img src="/assets/left.png" alt="" class="bird-one" />
  <img src="/assets/right.png" alt="" class="bird-two" />
  <section class="hero-section">
    <div class="hero-container">
      <div class="hero-text">
        <h3>Welcome to the</h3>
        <h1>Hal<span style="color: #e0ab10">o</span>sphere</h1>
        <p>
          An all new digital ecosystem that houses various platforms, aimed at
          providing solutions to day-to-day business and personal problems with
          ease and speed.
        </p>
      </div>
      <div class="hero-img">
        <img src="/assets/phone.png" alt="" />
      </div>
    </div>
  </section>
  <!-- <section class="product-section">
    <div class="product-container">
      <h1>Platforms</h1>
      <div class="platforms">
        <div class="platform">
          <img src="/assets/rollimg.png" alt="" />
          <div class="platform-description">
            <img src="/assets/rollsafe.png" alt="" />
            <div class="plat-text">
              <h3>Rollsafe</h3>
              <p>
                Planning to take a medium or long distance trip? worried about
                safety while in motion? Subscribe to RollSafe and put your mind
                at ease.
              </p>
              <p class="review">
                4.5&nbsp;
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star_half </span>
              </p>
            </div>
          </div>
          <button class="platform-btn get" (click)="clickRollsafe()">
            Check It Out
          </button>
        </div>
        <div class="platform">
          <img src="/assets/planimg.png" alt="" />
          <div class="platform-description">
            <img src="/assets/plansafe.png" alt="" />
            <div class="plat-text">
              <h3>Plansafe</h3>
              <p>
                Better events, together Plan for the unplannable with the
                world’s most collaborative platform.
              </p>
              <p class="review">
                4.5 &nbsp;
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star_half </span>
              </p>
            </div>
          </div>
          <button class="platform-btn soon" disabled>Coming Soon</button>
        </div>
        <div class="platform">
          <img src="/assets/conimg.png" alt="" />
          <div class="platform-description">
            <img src="/assets/contract.png" alt="" />
            <div class="plat-text">
              <h3>Contract Management</h3>
              <p>
                Having difficulties making changes to your security contract
                with us? create your profile, do it yourself, and track
                outcomes. it is really that easy.
              </p>
              <p class="review">
                4.5 &nbsp;
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star_half </span>
              </p>
            </div>
          </div>
          <button class="platform-btn get" (click)="clickContract()">
            Check It Out
          </button>
        </div>
      </div>
    </div>
  </section> -->

  <section class="product-section">
    <mat-tab-group class="tab-products">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icons">account_circle</mat-icon>
          Client Facing
        </ng-template>
        <div class="product-container">
          <div class="search">
            <mat-icon>search</mat-icon>
            <input
              type="text"
              [(ngModel)]="searchTerm"
              (keyup)="onSearch()"
              name="searchTerm"
              placeholder="Search..."
              id=""
            />
          </div>
          <div class="platforms">
            <!-- <div class="platform">
              <img src="/assets/rollimg.png" alt="" />
              <div class="platform-description">
                <img src="/assets/rollsafe.png" alt="" />
                <div class="plat-text">
                  <h3>Rollsafe</h3>
                  <p>
                    Planning to take a medium or long distance trip? worried
                    about safety while in motion? Subscribe to RollSafe and put
                    your mind at ease.
                  </p>
                  <p class="review">
                    4.5&nbsp;
                    <span class="material-symbols-outlined"> star </span>
                    <span class="material-symbols-outlined"> star </span>
                    <span class="material-symbols-outlined"> star </span>
                    <span class="material-symbols-outlined"> star </span>
                    <span class="material-symbols-outlined"> star_half </span>
                  </p>
                </div>
              </div>
              <button class="platform-btn get" (click)="clickRollsafe()">
                Check It Out
              </button>
              <div class="download-btns">
                <img
                  class="download-btn"
                  (click)="openDialog(content)"
                  src="/assets/appstore.png"
                  alt=""
                />
                <img
                  (click)="openDialog(content)"
                  class="download-btn"
                  src="/assets/playstore.png"
                  alt=""
                />
              </div>
            </div>
            <div class="platform">
              <img src="/assets/signal.png" alt="" />
              <div class="platform-description">
                <img src="/assets/signal_logo.webp" alt="" />
                <div class="plat-text">
                  <h3>Signal Emergency</h3>
                  <p>
                    In an emergency, every second counts. Get fast, reliable
                    emergency medical and security services with Signal
                    Emergency App.
                  </p>
                  <p class="review">
                    4.5 &nbsp;
                    <span class="material-symbols-outlined"> star </span>
                    <span class="material-symbols-outlined"> star </span>
                    <span class="material-symbols-outlined"> star </span>
                    <span class="material-symbols-outlined"> star </span>
                    <span class="material-symbols-outlined"> star_half </span>
                  </p>
                </div>
              </div>
              <button
                disabled
                class="platform-btn soon"
                (click)="clickContract()"
              >
                Not available on Web
              </button>
              <div class="download-btns">
                <img
                  class="download-btn"
                  (click)="
                    fire(
                      'https://apps.apple.com/ng/app/signal-emergency-app/id1606134012'
                    )
                  "
                  src="/assets/appstore.png"
                  alt=""
                />
                <img
                  class="download-btn"
                  (click)="
                    fire(
                      'https://play.google.com/store/apps/details?id=com.emergencyresponseafrica.user&hl=en&gl=US'
                    )
                  "
                  src="/assets/playstore.png"
                  alt=""
                />
              </div>
            </div>

            <div class="platform">
              <img src="/assets/conimg.png" alt="" />
              <div class="platform-description">
                <img src="/assets/contract.png" alt="" />
                <div class="plat-text">
                  <h3>Contract Management</h3>
                  <p>
                    Having difficulties making changes to your security contract
                    with us? create your profile, do it yourself, and track
                    outcomes. it is really that easy.
                  </p>
                  <p class="review">
                    4.5 &nbsp;
                    <span class="material-symbols-outlined"> star </span>
                    <span class="material-symbols-outlined"> star </span>
                    <span class="material-symbols-outlined"> star </span>
                    <span class="material-symbols-outlined"> star </span>
                    <span class="material-symbols-outlined"> star_half </span>
                  </p>
                </div>
              </div>
              <button class="platform-btn get" (click)="clickContract()">
                Check It Out
              </button>
              <div class="download-btns">
                <img
                  class="download-btn"
                  (click)="openDialog(content)"
                  src="/assets/appstore.png"
                  alt=""
                />
                <img
                  class="download-btn"
                  (click)="openDialog(content)"
                  src="/assets/playstore.png"
                  alt=""
                />
              </div>
            </div>

            <div class="platform">
              <img src="/assets/planimg.png" alt="" />
              <div class="platform-description">
                <img src="/assets/plansafe.png" alt="" />
                <div class="plat-text">
                  <h3>Plansafe</h3>
                  <p>
                    Better events, together Plan for the unplannable with the
                    world’s most collaborative platform.
                  </p>
                  <p class="review">
                    4.5 &nbsp;
                    <span class="material-symbols-outlined"> star </span>
                    <span class="material-symbols-outlined"> star </span>
                    <span class="material-symbols-outlined"> star </span>
                    <span class="material-symbols-outlined"> star </span>
                    <span class="material-symbols-outlined"> star_half </span>
                  </p>
                </div>
              </div>
              <button class="platform-btn soon" disabled>Coming Soon</button>
              <div class="download-btns">
                <img
                  class="download-btn"
                  (click)="openDialog(content)"
                  src="/assets/appstore.png"
                  alt=""
                />
                <img
                  class="download-btn"
                  (click)="openDialog(content)"
                  src="/assets/playstore.png"
                  alt=""
                />
              </div>
            </div> -->
            <div class="platform" *ngFor="let product of filteredItems">
              <img
                src="{{ product.attributes.productImage.data.attributes.url }}"
                alt=""
              />
              <div class="platform-description">
                <img
                  src="{{ product.attributes.productLogo.data.attributes.url }}"
                  alt=""
                />
                <div class="plat-text">
                  <h3>{{ product.attributes.productName }}</h3>
                  <p>
                    {{ product.attributes.productDescription }}
                  </p>
                  <p class="review">
                    4.5 &nbsp;
                    <span class="material-symbols-outlined"> star </span>
                    <span class="material-symbols-outlined"> star </span>
                    <span class="material-symbols-outlined"> star </span>
                    <span class="material-symbols-outlined"> star </span>
                    <span class="material-symbols-outlined"> star_half </span>
                  </p>
                </div>
              </div>
              <button
                (click)="fireWeb(product.attributes.webLink)"
                [className]="
                  product.attributes.productAvailability === 'Check it Out'
                    ? 'platform-btn'
                    : 'platform-btn soon'
                "
              >
                {{ product.attributes.productAvailability }}
              </button>
              <div class="download-btns">
                <img
                  class="download-btn"
                  (click)="fire(product.attributes.appstoreLink, content)"
                  src="/assets/appstore.png"
                  alt=""
                />
                <img
                  class="download-btn"
                  (click)="fire(product.attributes.appstoreLink, content)"
                  src="/assets/playstore.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">work</mat-icon>
          Internal
        </ng-template>
        <div class="product-container">
          <div class="search">
            <mat-icon>search</mat-icon>
            <input type="text" placeholder="Search..." id="" />
          </div>
          <div class="platforms">
            <div class="platform">
              <img src="/assets/hars4.jpeg" alt="" />
              <div class="platform-description">
                <img src="/assets/hars_logo.png" alt="" />
                <div class="plat-text">
                  <h3>H.A.R.S</h3>
                  <p>
                    The all new halogen app for intelligence and operative
                    submission.
                  </p>
                  <p class="review">
                    4.5 &nbsp;
                    <span class="material-symbols-outlined"> star </span>
                    <span class="material-symbols-outlined"> star </span>
                    <span class="material-symbols-outlined"> star </span>
                    <span class="material-symbols-outlined"> star </span>
                    <span class="material-symbols-outlined"> star_half </span>
                  </p>
                </div>
              </div>
              <button class="platform-btn soon">Not available on web</button>
              <div class="download-btns">
                <img
                  class="download-btn"
                  (click)="
                    fire(
                      'https://apps.apple.com/us/app/hars/id6467467578',
                      content
                    )
                  "
                  src="/assets/appstore.png"
                  alt=""
                />
                <img
                  class="download-btn"
                  (click)="openDialog(content)"
                  src="/assets/playstore.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </section>
</div>

<ng-template #content class="dg-div">
  <div class="dg-image">
    <!-- <img src="/assets/images/message.png" alt="message" /> -->
  </div>

  <div
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      height: 200px;
    "
    mat-dialog-actions
  >
    <div mat-dialog-content class="dg-content">
      <p>Not available on mobile</p>
    </div>
    <button
      style="border: none; padding: 0.5rem 1.2rem"
      mat-button
      mat-dialog-close
    >
      Close
    </button>
  </div>
</ng-template>
