<div class="home">
  <img src="/assets/left.png" alt="" class="bird-one" />
  <img src="/assets/right.png" alt="" class="bird-two" />
  <section class="hero-section">
    <div class="hero-container">
      <div class="hero-text">
        <h3>Welcome to the</h3>
        <h1>Hal<span style="color: #e0ab10">o</span>sphere</h1>
        <p>
          An all new digital ecosystem that houses various platforms, aimed at
          providing solutions to day-to-day business and personal problems with
          ease and speed.
        </p>
      </div>
      <div class="hero-img">
        <img src="/assets/phone.png" alt="" />
      </div>
    </div>
  </section>
  <section class="product-section">
    <div class="product-container">
      <h1>Platforms</h1>
      <div class="platforms">
        <div class="platform">
          <img src="/assets/rollimg.png" alt="" />
          <div class="platform-description">
            <img src="/assets/rollsafe.png" alt="" />
            <div class="plat-text">
              <h3>Rollsafe</h3>
              <p>
                Planning to take a medium or long distace trip? worried about
                safety while in motion? Subscribe to RollSafe and put your mind
                at ease.
              </p>
              <p class="review">
                4.5&nbsp;
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star_half </span>
              </p>
            </div>
          </div>
          <button class="platform-btn get" (click)="clickRollsafe()">
            Chect It Out
          </button>
        </div>
        <div class="platform">
          <img src="/assets/planimg.png" alt="" />
          <div class="platform-description">
            <img src="/assets/plansafe.png" alt="" />
            <div class="plat-text">
              <h3>Plansafe</h3>
              <p>
                Better events, together Plan for the unplannable with the
                world’s most collaborative platform.
              </p>
              <p class="review">
                4.5 &nbsp;
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star_half </span>
              </p>
            </div>
          </div>
          <button class="platform-btn soon" disabled>Coming Soon</button>
        </div>
        <div class="platform">
          <img src="/assets/conimg.png" alt="" />
          <div class="platform-description">
            <img src="/assets/contract.png" alt="" />
            <div class="plat-text">
              <h3>Contract Management</h3>
              <p>
                Having difficulties making changes to your security contract
                with us? create your profile, do it yourself, and track
                outcomes. it is really that easy.
              </p>
              <p class="review">
                4.5 &nbsp;
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star_half </span>
              </p>
            </div>
          </div>
          <button class="platform-btn get" (click)="clickContract()">
            Check It Out
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
