<div class="home">
  <img src="/assets/left.png" alt="" class="bird-one" />
  <img src="/assets/right.png" alt="" class="bird-two" />
  <section class="hero-section">
    <div class="hero-container">
      <div class="hero-text">
        <h3>Welcome to the</h3>
        <h1>Hal<span style="color: #e0ab10">o</span>sphere</h1>
        <p>
          An all new digital ecosystem that houses various platforms, aimed at
          providing solutions to day-to-day business and personal problems with
          ease and speed.
        </p>
      </div>
      <div class="hero-img">
        <img src="/assets/phone.png" alt="" />
      </div>
    </div>
  </section>
  <section class="product-section">
    <div class="product-container">
      <h1>Platforms</h1>
      <div class="platforms">
        <div class="platform">
          <img src="/assets/rollimg.png" alt="" />
          <div class="platform-description">
            <img src="/assets/rollsafe.png" alt="" />
            <div class="plat-text">
              <h3>Rollsafe</h3>
              <p>
                Ornare etiam erat volutpat tempor fringilla mi. Elit a blandit
                faucibus est, dui interdum ut amet.
              </p>
              <p class="review">4.5 ⭐⭐⭐⭐⭐</p>
            </div>
          </div>
          <button class="platform-btn get">Get Started</button>
        </div>
        <div class="platform">
          <img src="/assets/planimg.png" alt="" />
          <div class="platform-description">
            <img src="/assets/rollsafe.png" alt="" />
            <div class="plat-text">
              <h3>Plansafe</h3>
              <p>
                Ornare etiam erat volutpat tempor fringilla mi. Elit a blandit
                faucibus est, dui interdum ut amet.
              </p>
              <p class="review">4.5 ⭐⭐⭐⭐⭐</p>
            </div>
          </div>
          <button class="platform-btn soon">Coming Soon</button>
        </div>
        <div class="platform">
          <img src="/assets/conimg.png" alt="" />
          <div class="platform-description">
            <img src="/assets/rollsafe.png" alt="" />
            <div class="plat-text">
              <h3>Contract Management</h3>
              <p>
                Ornare etiam erat volutpat tempor fringilla mi. Elit a blandit
                faucibus est, dui interdum ut amet.
              </p>
              <p class="review">4.5 ⭐⭐⭐⭐⭐</p>
            </div>
          </div>
          <button class="platform-btn get">Get Started</button>
        </div>
      </div>
    </div>
  </section>
</div>
