<div class="privacy-policy">
  <div class="privacy-top">
    <div class="topContainer">
      <div class="privacy-topLeft">
        <h2>Halogen Group Terms Of Use Statement</h2>
        <p>Last Updated: Feb 2023</p>
      </div>
      <div class="privacy-topRight">
        <!-- PLEASE UNCOMMENT IN YOUR OWN CODE I DIDNT INSTALL MATERIAL UI -->
        <!-- <p><mat-icon>expand_more</mat-icon> Expand all</p>
        <p (click)="print()"><mat-icon>print</mat-icon>Print</p> -->
      </div>
    </div>
  </div>
  <div class="privacy-main">
    <div class="privacy-headers">
      <div class="privacy-contents">
        <div class="contentLeft">
          <p class="policyHeading" (click)="scrolll('agreement')">
            Agreement between Client and Halogen Group
          </p>
          <p class="policyHeading" (click)="scrolll('app')">Applicability</p>
          <p class="policyHeading" (click)="scrolll('booking')">
            Booking Requirements
          </p>
          <p class="policyHeading" (click)="scrolll('rates')">Rates</p>
          <p class="policyHeading" (click)="scrolll('payments')">
            Payments, Bank and Credit Card Fees
          </p>
          <p class="policyHeading" (click)="scrolll('client')">
            Client Requirements
          </p>
          <p class="policyHeading" (click)="scrolll('cancel-h')">
            Cancellation/Change by Halogen Group
          </p>
          <p class="policyHeading" (click)="scrolll('cancel-c')">
            Cancellation/Change by Client
          </p>
          <p class="policyHeading" (click)="scrolll('third')">
            Third Party Service Providers
          </p>
          <p class="policyHeading" (click)="scrolll('epidemic')">Epidemic</p>
          <p class="policyHeading" (click)="scrolll('refusal')">
            Refusal of Service, Price & Currency Rate fluency
          </p>
          <p class="policyHeading" (click)="scrolll('indemnity')">Indemnity</p>
          <p class="policyHeading" (click)="scrolll('special')">
            Special Request
          </p>
          <p class="policyHeading" (click)="scrolll('terms')">Terms of Use</p>
          <p class="policyHeading" (click)="scrolll('liability')">Liability</p>
          <p class="policyHeading" (click)="scrolll('general')">. General</p>
          <p class="policyHeading" (click)="scrolll('notices')">Notices</p>
          <p class="policyHeading" (click)="scrolll('dispute')">
            Dispute Resolution & Governing Law
          </p>
        </div>

        <div class="contentRight">
          <div class="policyDescription" id="agreement">
            <h4 class="policyMainHeader">
              Agreement between Client and Halogen Group
            </h4>
            <hr />
            <div class="policyDescriptionText">
              <ul>
                <li>
                  The Client accepts the following terms and conditions by
                  accessing, using, booking, reserving or purchasing the Roll
                  Safe Service via our mobile/ web applications and or legal
                  entities/natural persons affiliated with it.
                </li>
                <li>
                  Clients can use the Rollsafe web and mobile platforms to view,
                  reserve, apply, request, and purchase escort services
                  (hereinafter referred to as “the Services”)
                </li>
                <li>
                  We reserve the right at any time to revise and update these
                  Terms and Conditions. We therefore encourage you to read
                  through the terms and conditions before acceptance
                </li>
              </ul>
            </div>
          </div>
          <div class="policyDescription" id="app">
            <h4 class="policyMainHeader">Applicability</h4>
            <hr />
            <div class="policyDescriptionText">
              <ul>
                <li>
                  These terms and conditions apply to all offers issued or made
                  on Rollsafe, as well as to all bookings and legal
                  relationships related thereto.
                </li>
                <li>
                  Halogen will always be entitled to adjust the text of these
                  terms and conditions and to unilaterally amend this. In that
                  case the new text of these Terms and conditions will apply
                </li>
                <li>
                  These terms and conditions apply to all offers issued or made
                  on Rollsafe, as well as to all bookings and legal
                  relationships related thereto.
                </li>
                <li>
                  The Client who has already concluded a booking on Rollsafe
                  will be deemed to tacitly agree to the applicability of these
                  terms and conditions to later and/or additional bookings of
                  and/or services to the client concerned.
                </li>
              </ul>
            </div>
          </div>
          <div class="policyDescription" id="booking">
            <h4 class="policyMainHeader">Booking Requirements</h4>
            <hr />
            <div class="policyDescriptionText">
              <ul>
                <li>
                  Client requests for service by selecting the preferred
                  service, route, and detailed itinerary such as the departure
                  date, time, pick-up location, and destination. via the
                  Rollsafe App
                </li>

                <li>
                  Client will receive Route Plan & payment receipt based on
                  request details inputted
                </li>
                <li>
                  A reservation is successful upon getting a payment receipt
                  from Halogen Group expressly accepting an order or assignment
                  made via the Rollsafe web/mobile application
                </li>
                <li>
                  A reservation/ booking order is only deemed complete when full
                  payment for the intended services is received and confirmed by
                  Halogen Group within 24 hours
                </li>
                <li>
                  Client final booking detail confirmation is non-transferrable
                  from one person or entity to another
                </li>
                <li>
                  All trips must be booked 48 hours before the take-off time for
                  the book now option and 72 hours for the schedule booking
                  option
                </li>
                <li>
                  Booking confirmations will replace all earlier proposals,
                  correspondence, arrangements, or other communications, made in
                  writing or as the case may be verbally
                </li>
                <li>
                  A booking cannot start between 24:00 hrs. and 7:00 hrs. in the
                  morning/night
                </li>

                <li>
                  New Clients must cooperate in providing required personal data
                  upon registration and payment in other to enable booking
                  processing and confirmation
                </li>
                <li>
                  The Client will not make any request on behalf of a third
                  party or a company and where payment is made, the payment must
                  be from an individual account or a card linked to an
                  individual account.
                </li>
                <li>
                  The client will not request more than one of same trip type
                  (either one way or two ways) per time.
                </li>
              </ul>
            </div>
          </div>
          <div class="policyDescription" id="rates">
            <h4 class="policyMainHeader">Rates</h4>
            <hr />
            <div class="policyDescriptionText">
              <ul>
                <li>
                  All services offered by Halogen Group on Rollsafe are subject
                  to 7.5% VAT. Unless otherwise indicated, all rates listed are
                  in Naira and inclusive of 7.5% VAT
                </li>
                <li>
                  A grace period of, at most, 15 minutes after booked pick-up
                  time shall be given before the trip starts; otherwise, a
                  surcharge would be applicable for delayed take-off a minute
                  thereafter for up to 45 minutes.
                </li>
                <li>
                  If after 45 minutes (which makes it a total of 60 minutes
                  after the original booked pick-up time) the trip has not
                  commenced due to delays by the Customer, the trip will be
                  canceled and the Customer charged the full amount already paid
                  excluding the surcharge.
                </li>
                <li>
                  If the client has additional requests that result in more
                  costs for Halogen Group than may be reasonably expected an
                  increase in the applicable rates may apply
                </li>
                <li>
                  No rights can be derived from discounts. Discounts as set out
                  on Rollsafe will only apply if agreed in advance and confirmed
                  in the booking confirmation
                </li>
              </ul>
            </div>
          </div>
          <div class="policyDescription" id="payments">
            <h4 class="policyMainHeader">
              Payments, Bank and Credit Card Fees
            </h4>
            <hr />
            <div class="policyDescriptionText">
              <ul>
                <li>
                  All payments must be made prior to the booking or no later
                  than immediately at the commencement of the booking.
                </li>
                <li>
                  Clients will indicate the method of payment prior to the
                  booking
                </li>
                <li>
                  The availability of all payment options is not guaranteed and
                  is subject to availability. Halogen Group can limit the
                  payment options for a client without providing a reason
                </li>
                <li>
                  Clients will be required to pay immediately via the payment
                  gateway for a book now service (within 48hours) or load create
                  a wallet account on the Rollsafe platform and deposit the
                  requisite funds in for the scheduled booking option (after 72
                  hours)
                </li>
                <li>
                  Funds deposited in the wallet account on the platform are
                  non-refundable and non-transferable and can only be used to
                  purchase and reschedule trips on the Rollsafe platform
                </li>
                <li>
                  Rollsafe service is personal in nature and therefore not tax
                  deductible for the client if the client uses the Rollsafe
                  service for himself.
                </li>
                <li>
                  Halogen Group accepts payments in Naira at the commencement of
                  the booking
                </li>
                <li>
                  Halogen accepts payment by credit/debit cards, or bank
                  transfer unless otherwise agreed, payment must be made before
                  the commencement of service
                </li>
                <li>
                  The Client accepts that an order is not complete until bank
                  payment is made within 24 hours of receipt of an invoice
                  confirming the booking
                </li>
                <li>
                  Additional services are only provided upon receipt of bank
                  payment
                </li>
                <li>
                  To prevent trade-based money laundering and other possible
                  criminal activities, we are obligated to investigate the
                  origin of bank payments and may therefore ask you to provide
                  evidence that you are authorized to execute the transaction
                  and that you are the ultimate beneficial owner of the account
                </li>
                <li>
                  Provided a refund is requested at least 24 hours prior to the
                  commencement of bookings made via the book now option, there
                  may be a right to refund the amount paid after the deduction
                  of bank charges and Service Charge of 25% in the following
                  situations:
                </li>
                <li>
                  Bank Charges associated with the bank transaction are at the
                  expense of the client

                  <ul style="padding-left: 20px">
                    <li>
                      If Halogen Group cancels the booking for reasons other
                      than violations by Clients and other reasons detailed in
                      this terms and condition
                    </li>
                    <li>
                      Client informs Halogen Group within 24 hours of the
                      commencement of the booking request to regret his purchase
                      and wishes to renounce the purchase
                    </li>
                    <li>
                      Client informs Halogen Group within 24 hours of the
                      commencement of the booking request to regret his purchase
                      and wishes to renounce the purchase
                    </li>
                  </ul>
                </li>
                <li>
                  There shall be no refund of deposits in the wallet account
                  created, rather the Client only has the option to reschedule
                  the trip for a later date provided this is done 48 hours
                  before the trip start date. Trip rescheduled 24 hours prior to
                  commencement date and time shall be subject to 25% service
                  charge as in 5.13
                </li>
                <li>
                  Unless in the event of a situation, as described in 4.12,
                  there is no right to refund any amount paid. Upon settlement
                  of any cost or outstanding amounts, the remaining amount will
                  be used towards the following booking. If no booking with the
                  Client takes place within 1year, the remaining amount will be
                  lost
                </li>
                <li>
                  Payment can be made via any of the authorized card payment
                  services like Visa and Mastercard, electronic funds transfer,
                  cash deposit at a bank, or through our call centers.
                </li>
                <li>
                  The Client undertakes that all details provided for the
                  purpose of purchasing and securing our service offered on our
                  Rollsafe Platform will be correct, that the credit or debit
                  card or any electronic cash which you use belongs to you, and
                  that there are sufficient funds or credit facilities to cover
                  the costs of any service. We reserve the right to obtain
                  validation of your credit or debit card details before
                  providing you with any service.
                </li>
                <li>
                  The Client shall ensure your credit or debit card details,
                  personal identification number, and all such other details of
                  the Client’s credit or debit cards are secured and kept safe
                  at all times. Any unauthorized use, theft, or loss of details
                  in your credit or debit card to unauthorized bank centers,
                  cash centers, or persons fraudulently representing Roll Safe
                  will be at the Client’s risk.
                </li>
                <li>
                  The Client shall ensure your credit or debit card details,
                  personal identification number, and all such other details of
                  the Client’s credit or debit cards are secured and kept safe
                  at all times. Any unauthorized use, theft, or loss of details
                  in your credit or debit card to unauthorized bank centers,
                  cash centers, or persons fraudulently representing Roll Safe
                  will be at the Client’s risk.
                </li>
                <li>
                  The Client shall consult the bank and/or credit card companies
                  on any charges that may be imposed as transaction fees when
                  completing a booking on our platform.
                </li>
              </ul>
            </div>
          </div>
          <div class="policyDescription" id="client">
            <h4 class="policyMainHeader">Client requirements</h4>
            <hr />
            <div class="policyDescriptionText">
              <ul>
                <li>
                  Client needs to be at least 18 years old and will present
                  valid proof of identity
                </li>
                <li>
                  Client must refrain from possession and/or use of and/being
                  under the influence of large amounts of alcohol and or any
                  drugs
                </li>
                <li>
                  Client must refrain from demanding and/or encouraging the
                  escort team from consuming alcoholic beverages and/use of
                  drugs
                </li>
                <li>
                  Client will treat the escort team with respect and never force
                  the team to perform acts that are in conflict with the escort
                  will or may otherwise be in conflict with the law
                </li>
                <li>
                  At the time of the booking request, the Client undertakes to
                  notify Halogen Group if Client has medical complaints that
                  could affect the health of the escort team or the booking
                  itself
                </li>
                <li>
                  Client must always refrain from misleading, harassing or other
                  acts of omission which may endanger the lives of the escort
                  team
                </li>
              </ul>
            </div>
          </div>
          <div class="policyDescription" id="cancel-h">
            <h4 class="policyMainHeader">
              Cancellation/Change by Halogen Group
            </h4>
            <hr />
            <div class="policyDescriptionText">
              <li>
                In the event of a change or cancellation of the booking by
                Halogen Group, the Client will be contacted as soon as possible
              </li>
              <li>
                Halogen Group is permitted to cancel change or prematurely
                terminate a booking if:
                <ul style="padding-left: 20px">
                  <li>
                    In the opinion of Halogen Group, the escort team may be at
                    risk based on intelligence gatherings
                  </li>
                  <li>
                    The Client does not fulfill the agreed terms and conditions
                    of the bookings within the periods set out for this purpose
                  </li>
                  <li>
                    Circumstance occurs as a result of which it cannot be
                    reasonably expected of Halogen Group to fulfill its
                    obligation of the booking
                  </li>
                </ul>
              </li>

              <li>
                Halogen Group shall not be liable for any direct or indirect
                damage suffered or expenses incurred by the client in the event
                of a cancellation/change by Halogen Group
              </li>
            </div>
          </div>
          <div class="policyDescription" id="cancel-c">
            <h4 class="policyMainHeader">Cancellation/Change by Client</h4>
            <hr />
            <div class="policyDescriptionText">
              <ul>
                <li>
                  In the event of a change or cancellation of the booking by the
                  Client, the Client will notify Halogen Group as soon as
                  possible and not later than 24hrs before the commencement time
                  of the booking
                </li>
                <li>
                  The same applies to rescheduling the start date and or time of
                  the booking in the event of cancellation
                </li>
                <li>
                  The new start date and or time must not be more than 90 days
                  from the previous start date and or time
                </li>
                <li>
                  If the customer wishes to continue with the booking, the
                  customer will be liable and responsible for any difference
                  between the prior and current quotes. Such a difference must
                  reflect in our account within the stipulated timeframe to
                  secure the booking.
                </li>
                <li>
                  A cancellation is only valid after the receipt of this
                  cancellation/ change has been confirmed by Halogen Group by
                  email.
                </li>
                <li>
                  If the Client does not communicate the cancellation at all to
                  Halogen Group, this is considered a “No-Show” where the moment
                  the booking should have commenced is considered the moment of
                  cancelation
                </li>
                <li>
                  Refunds, cancellations, and or modifications are not permitted
                  in case of no show. Furthermore, all refunds, cancellations
                  and or modifications are subject to the terms and conditions
                  of our Partners as well as our Terms and Conditions.
                </li>
                <li>
                  Where we incur any refund, cancellation and or modification
                  fees from our Partners, the Client agrees to indemnify us for
                  any amount charged.
                </li>
                <li>
                  Refund request within the timelines stipulated in this terms
                  and conditions will be treated within 7 working days of
                  cancellation request
                </li>
              </ul>
            </div>
          </div>
          <div class="policyDescription" id="third">
            <h4 class="policyMainHeader">Third Party Service Providers</h4>
            <hr />
            <div class="policyDescriptionText">
              <ul>
                <li>
                  Services on our website, applications or any other Rollsafe
                  Platform are provided by Rollsafe and/or on behalf of our
                  Partners.
                </li>
                <li>
                  The performance of our services shall where applicable, be
                  subject to the Terms and Conditions of our Partners.
                </li>
                <li>
                  Roll Safe is not liable, howsoever, the same may arise, for
                  cancellations, modifications, delays, deviations, the failure
                  to provide seats berths or facilities for carrying or storing
                  luggage, failure to provide accommodation and/or failures to
                  perform services by our Partners.
                </li>
              </ul>
            </div>
          </div>
          <div class="policyDescription" id="epidemic">
            <h4 class="policyMainHeader">Epidemic</h4>
            <hr />
            <div class="policyDescriptionText">
              <ul>
                <li>
                  In the event of an epidemic outbreak, it is imperative that
                  all our customers who intend on accessing, using, booking,
                  reserving or purchasing our services via our website or other
                  applications cross-check and make continuous and reasonable
                  enquiries from time to time that there are no restrictions in
                  place which may affect their booking/reservation.
                </li>
                <li>
                  By accessing, using, booking, reserving or purchasing our
                  services via our website or other applications, you represent,
                  warrant and undertake to us that: you have cross-checked, made
                  continuous and reasonable enquiries, confirmed and are
                  satisfied that there are no restrictions in place in both your
                  country of departure and arrival which may affect your
                  booking/reservation; and you are conversant and have
                  familiarized yourself with all the relevant restrictions which
                  may change from time to time.
                </li>
                <li>
                  Halogen Group shall not be liable, howsoever, the same may
                  arise, for any operational changes, cancellations,
                  modifications, delays, deviations, restrictions, changes to
                  restrictions or damages incurred by customers in the event
                  that bookings/reservations are unable to operate as planned as
                  a result of the restrictions, or failure to perform services
                  by our Partners.
                </li>
              </ul>
            </div>
          </div>
          <div class="policyDescription" id="indemnity">
            <h4 class="policyMainHeader">Indemnity</h4>
            <hr />
            <div class="policyDescriptionText">
              <ul>
                <li>
                  Halogen Group will not indemnify the client for any loss or
                  damage caused to he/she/its goods or baggage caused by the
                  negligence or omission of the client
                </li>

                <li>
                  Halogen Group will not be responsible for the submission,
                  payment, or adjustment of an insurance claim. Any claims that
                  fall under the relevant travel insurance policy must be
                  submitted to the insurance company identified in the policy.
                </li>
              </ul>
            </div>
          </div>
          <div class="policyDescription" id="special">
            <h4 class="policyMainHeader">Special Request</h4>
            <hr />
            <div class="policyDescriptionText">
              <ul>
                <li>
                  Clients with any special needs/requests must ensure such
                  requests are made via the Rollsafe platform at least 72 hours
                  prior to the start date of the booking, Halogen does not
                  guarantee we will be able to honor such requests, but we will
                  do our best to accommodate and effect such special requests.
                </li>
              </ul>
            </div>
          </div>
          <div class="policyDescription" id="terms">
            <h4 class="policyMainHeader">Terms of Use</h4>
            <hr />
            <div class="policyDescriptionText">
              <ul>
                <li>
                  The Client accepts to use our platforms and other sited
                  according to Halogen’s terms of use policy on the website:
                  https://halogen-group.com/terms-of-use
                </li>
              </ul>
            </div>
          </div>
          <div class="policyDescription" id="liability">
            <h4 class="policyMainHeader">Liability</h4>
            <hr />
            <div class="policyDescriptionText">
              <ul>
                <li>
                  Halogen shall use all reasonable endeavors to ensure that for
                  any service purchased by a Client via our Roll Safe platforms:
                  <ul style="padding-left: 20px">
                    <li>
                      We have the right to sell the service to the Client;
                    </li>
                    <li>
                      The service will correspond with the description we have
                      given to you;
                    </li>
                    <li>The service would be of satisfactory quality; and</li>
                    <li>
                      Any service we provide to you will be provided with
                      reasonable skill and care. 15.2. We exclude all other
                      express or implied terms, conditions, warranties,
                      representations or endorsements whatsoever with regard to
                      any service from our website, applications, platforms or
                      any information or service provided through them.
                    </li>
                  </ul>
                </li>
                <li>
                  Halogen accepts no liability for any indirect or consequential
                  loss or damage, or for any direct or indirect loss of data,
                  profit, revenue or business in each case, however caused, even
                  if foreseeable. In circumstances where you suffer loss or
                  damage arising out of or in connection with the viewing, use
                  or performance of the Roll Safe platform or its contents other
                  than as a direct result of purchasing service.
                </li>
                <li>
                  If Halogen is liable for any reason, our liability will not
                  exceed the amount paid by the Client for the service
                  concerned.
                </li>
                <li>
                  Halogen shall not be liable for any loss, damage, delay or
                  failure to perform in whole or in part as a result of causes
                  beyond our control, including but not limited to: strikes,
                  fraud, fuel scarcity, terrorist attacks, pandemics, lockdown,
                  curfew, material breach of these Terms and Conditions by you,
                  insurrections, riots, embargoes, delays in transportation,
                  change in any applicable law, Terms and Conditions of our
                  Partners, any lawful order and lawful requirement of any
                  governmental authority.
                </li>
                <li>
                  The Client shall notify us of any claim whatsoever against us
                  within 3 (three) months from the period the cause of action
                  accrued. The Client hereby agrees to waive any right to bring
                  any claim whatsoever against us outside this period.
                </li>
              </ul>
            </div>
          </div>
          <div class="policyDescription" id="general">
            <h4 class="policyMainHeader">General</h4>
            <hr />
            <div class="policyDescriptionText">
              <ul>
                <li>
                  Client may not, assign any rights and/or transfer,
                  sub-contract or delegate any obligations under these Terms and
                  Conditions, and/or charge or deal in any other manner with
                  these Terms and Conditions or any of our respective rights or
                  obligations. Any purported assignment, transfer, sub-
                  contracting, delegation, charging or dealing in contravention
                  of this clause shall be ineffective. These Terms and
                  Conditions are personal to you and are entered into by you for
                  your own benefit and not for the benefit of any third party.
                </li>
              </ul>
            </div>
          </div>
          <div class="policyDescription" id="notices">
            <h4 class="policyMainHeader">Dispute Resolution & Governing Law</h4>
            <hr />
            <div class="policyDescriptionText">
              <ul>
                <li>
                  These Terms and Conditions and your use of Halogen’s Roll Safe
                  platform shall be governed by and construed in accordance with
                  the laws of the Federal Republic of Nigeria and you submit to
                  the exclusive jurisdiction of Nigerian courts
                </li>
                <li>
                  Any difference, dispute or claim arising out of or in
                  connection with these Terms and Conditions shall first be
                  referred by either party to mediation and where parties are
                  unable to settle after the mediation session, refer the matter
                  to conciliation either privately amongst the parties or in
                  accordance with the Arbitration and Conciliation Act 1988
                  CAP.A18 in order to seek an amicable settlement of the dispute
                  in good faith. The decision of the Conciliator shall be final
                  and binding on both parties.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
